.lender-main {
    margin-top: 50px;
    padding: 30px;

    .lender-inner {
        display: gird;

        .lender-card {

            .lender-certificate {}

            .lender-address {}
        }
    }
}